*{
    margin: 0;
    padding: 0;
}
  /* BACKGROUND CSS*/
  body {

    background-size: 600% 600%;

    -webkit-animation: AnimationName 19s ease infinite;
    -moz-animation: AnimationName 19s ease infinite;
    animation: AnimationName 19s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
@keyframes AnimationName {
    0%{background-position:0% 62%}
    50%{background-position:100% 39%}
    100%{background-position:0% 62%}
}
/* MAIN CSS */
#container{
    font-weight: 900;
    width: 50vw;
    height: 50vh;
    /* border: 1px solid black; */
    margin: 200px auto;
    /* color: white; */
    text-align: center;
    padding: 40px;
}

.info{
    background-color: rgba(236, 232, 232, 0.244);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 25px;
    font-family: monospace
}
#Temperature{
    font-size: 20px;
}


/* INPUT CSS */

#inp{
    width: 240px;
    height: 30px;
    margin-bottom: 20px;
    background-color: rgba(236, 232, 232, 0.53);
    border-color: white;
    border-radius: 10px;

}

#btn{
            display: none;
    }
