*{
    margin: 0;
    padding: 0;
}
.main{
    border: 2px solid black;
    border-radius: 10px;
    margin: 4px auto;
    width: 50%;
    background-color: #edf2fb;
}
.main h2{
    text-align: center;
    font-style:oblique;
}

.main h3{
    position: sticky;
    top: 0px;
    background-color: #f0bcd4;
    font-size: 25px;
    border-radius: 5px;
}
.main ol{
    list-style: none;
    padding: 10px;
}

.main li::before{
    content: "\01F4DE ";
}
.main li{
    font-size: 20px;
    font-weight: 700;
}